.header {
  display: flex;
  background-color: #757ae9;
  justify-content: space-between;
  box-shadow: 0 0.5rem 1rem 0 rgb(44 51 73 / 10%);
  position: relative;
  z-index: 999;
}

.header a {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.logo {
  max-height: 30px;
}

.header .title-group {
  padding-left: 25px;
}

.header .title-group i {
  padding-right: 5px;

}

.header .title-group a {
  padding-right: 5px;
  color: #fff;
}
